<script type="text/x-template" id="boardTemplate">

    <div id="game-container">
        <div id="board-container" class="margin-10">
            <space v-for="(space, index) in board"
                   :key="`space-${index}`"
                   v-bind:space="space"
                   v-bind:piece_selected="state.piece_selected"
                   v-bind:locked="state.locked"
                   v-on:move="move"
                   v-on:select="select">
            </space>
            <div id="background-container"></div>
            <winner v-if="winner != null" v-bind:winner="winner"></winner>
        </div>
        <gamePanel v-on:end-turn="end_turn"
                   v-bind:end_turn_disabled="state === null ? true : !state.current_move">
        </gamePanel>
    </div>

</script>

<script type="text/x-template" id="spaceTemplate">

    <div class="space"
         v-bind:style="style"
         v-on:click="parse_click">
        <transition name="piece">
            <piece v-bind:piece="space.piece"
                   v-if="space.has_piece">
            </piece>
        </transition>
        <div v-bind:class="overlayClasses"></div>
    </div>

</script>

<script type="text/x-template" id="pieceTemplate">

    <div class="fake-border" v-bind:class="{'player0' : piece.player_number === 0, 'player1' : piece.player_number === 1}">
        <div v-bind:class="classes"></div>
    </div>

</script>

<script type="text/x-template" id="winnerTemplate">
    <div id="winner">
        {% raw %}{{ winner.name }}{% endraw %} wins!
    </div>
</script>