<script type="text/x-template" id="boardTemplate">

    <div>
        <div id="board-container">
            <space
                    v-for="(space, index) in board"
                    :key="`space-${index}`"
                    v-bind:space="space"
                    v-bind:piece_selected="state.piece_selected"
                    v-bind:locked="state.locked"
                    v-on:move="move"
                    v-on:select="select">
            </space>
            <div id="background-container"></div>
            <winner v-if="winner != null" v-bind:player="player"></winner>
        </div>
        <button type="button" v-on:click="end_turn">End Turn</button>
    </div>

</script>

<script type="text/x-template" id="spaceTemplate">

    <div
            class="space"
            v-bind:style="style"
            v-on:click="parse_click">
        <piece
                v-bind:piece="space.piece"
                v-if="space.has_piece">
        </piece>
        <div v-bind:class="overlayClasses"></div>
    </div>

</script>

<script type="text/x-template" id="pieceTemplate">

    <div class="fake-border" v-bind:class="{'player0' : piece.player.number === 0, 'player1' : piece.player.number === 1}">
        <div class="piece" v-bind:style="style"></div>
    </div>

</script>

<script type="text/x-template" id="winnerTemplate">
    <div id="winner">
        {% raw %}{{ winner.name }}{% endraw %} wins!
    </div>
</script>