<html>
    <head>
        <script
			  src="https://code.jquery.com/jquery-3.3.1.js"
			  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
			  crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
      {% if title %}
      <title>{{ title }} - Pai Sho</title>
      {% else %}
      <title>Pai Sho</title>
      {% endif %}
    </head>
    <body>
        <div>Pai Sho: <a href="/index">Home</a></div>
        <hr>
        {% block content %}{% endblock %}
    </body>
</html>