.diagonal {
    /*position: relative;*/
    width: 40px;
    height: 40px;
    background-color: blue;
    padding: 0px;
    margin: 0px;
    display: inline-block;
}

.diagonal:hover {
    background-color: red;
}

#diagonal-container {
    position: relative;
    background-image: url("../resource/TransparentBGPaiShoBoard.png");
    width: 720px;
    height: 720px;
    text-align: center;
    /*transform: rotate(-45deg);*/
}

.board-row {
    /*position: relative;*/
    margin: auto;
    display: inline-block;
    /*text-align: center;*/
    /*width: 80px;*/
}