.diagonal {
    z-index: 1;
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 0px;
    margin-left: 4.1417px;
    margin-right: 4.1417x;
    display: inline-block;
    opacity: 0.4;
    transform: rotate(-45deg);
    text-align: center;
}

.diagonal:hover {
    background-color: blue;
}

#background-container {
    position: absolute;
    z-index: 0;
    background-image: url("../resource/images/TransparentBGPaiShoBoard.png");
    width: 720px;
    height: 720px;
    transform: rotate(-45deg);
}

#board-container {
    position: relative;
    width: 720px;
    height: 720px;
    text-align: center;
}

#space-container {
    position: absolute;
    z-index: 1;
    top: 20px;
    left: 20px;
    width: 680px;
    height: 680px;
    text-align: center;
}

.piece {
    border-radius: 50%;
    width: 80%;
    height: 80%;
    margin: 10%;
    opacity: 1;
}